body {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Roboto", sans-serif;
  padding: 20px;
}

nav {
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: black;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

img {
  width: 300px;
  border-radius: 2px;
}

div {
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;

}
