<%- include('partials/head') %>

<body>
    <h1>Welcome to the r/<%= name %> subreddit!</h1>
    <p><%= description %></p>

    <hr>

    <% if (subscribers > 100000) { %>
        <span class="badge">Trending Community</span>
    <% } %>

    <h3>Latest Posts:</h3>
    <ul>
        <% for(let post of posts) { %>
            <li>
                <strong><%= post.title %></strong> - <i>by <%= post.author %></i>
            </li>
        <% } %>
    </ul>

    <%- include('partials/footer') %>
</body>
</html>